<h1 class="text-center my-5" id="about">About us</h1>
<div class="row mb-3 m-0">
  <div class="col-md-6 text-center m-auto">
    <img class="rounded-circle img-hover mb-3" src="../../assets/18361A0547.jpg" width="130" height="130">
    <h5>Mohammed Abdul Rahman</h5>
    <em>Web Developer</em>
    <p>I am a freelance web developer my specialties include web development, problem solving, Multi-tasking, Research
      and Creativity</p>
      <div class="d-flex justify-content-center">
        <img class="rounded-circle mx-1" src="../../assets/social-media/facebook.png" width="30">
        <img class="rounded-circle mx-1" src="../../assets/social-media/instagram.png" width="30">
        <img class="rounded-circle mx-1" src="../../assets/social-media/twitter.png" width="30">
        <img class="rounded-circle mx-1" src="../../assets/social-media/github.png" width="30">
      </div>
  </div>
</div>
