<h1 class="text-center mt-5" id="whywebsite">Why Website?</h1>
<div class="container">
<div class="row m-0">
  <div class="col-md-6 my-5 pl-5">
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/brand.png" width="50">A
      Website Proves Your Brand Credibility</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/team.png" width="50">All
      of your competitors are already having a website</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/website.png"
        width="50">Businesses with a Website are Easily Accessible</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/search.png"
        width="50">You can benefit from Google Searches</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/offers.png"
        width="50">You can showcase your offers</div>
  </div>
  <div class="col-md-6 text-center align-self-center my-5">
    <img class="img-rounded" src="../../assets/website1.png" width="90%">
  </div>
</div>
<div class="row m-0">
  <div class="col-md-6 text-center align-self-center my-5">
    <img class="img-rounded" src="../../assets/website2.jpg" width="90%">
  </div>
  <div class="col-md-6 my-5">
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/showcase.png"
        width="50">You can Showcase Your Products/Services the Best Way Possible</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/audience.png" width="50">You
      can strategically target your customers through a website</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/marketing.png"
        width="50">A website is an integral part of online marketing</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/brand-visible.png" width="50">A
      website makes your brand more visible</div>
    <div class="d-flex align-items-center font-medium my-3"><img class="mr-3 icon" src="../../assets/business.png" width="50">A
      website builds a Relationship</div>
  </div>
</div>
</div>
