<h1 class="text-center mb-5" id="pricing">Pricing</h1>
<div class="container row d-flex justify-content-center m-auto m-0">
  <div class="col-md-3 shadow card mr-3 my-2 p-0">
    <div class="card-header text-center border-none bg-gradient">
      <img src="../../assets/pricing/mobile-app.png" width="100">
      <h5>ANDROID APP</h5>
    </div>
    <div class="card-body">
      <h3 class="card-title text-center">INR 2999/-</h3>
      <ul class="card-text">
        <li>Splash Screen</li>
        <li>Web View</li>
        <li>Free Playstore Submition</li>
      </ul>
      <hr>
      <div class="text-center">
        <a href="https://wa.me/919052337279?text=Hi,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20Android%20App."
          class="btn btn-sm btn-primary text-center"><i class="fa fa-whatsapp" aria-hidden="true"></i> Enquire Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 shadow card mx-3 my-2 p-0">
    <div class="card-header text-center border-none bg-gradient-green">
      <img src="../../assets/pricing/singlepage-website.png" width="100">
      <h5>SINGLE PAGE WEBSITE</h5>
    </div>
    <div class="card-body">
      <h3 class="card-title text-center">INR 6999/-</h3>
      <ul class="card-text">
        <li>Dynamic Website</li>
        <li>Image Slider</li>
        <li>User friendly CMS</li>
        <li>Contact Form</li>
        <li>Enquiry Form</li>
        <li>Mobile Responsive</li>
        <li>Google Maps Integration</li>
        <li>Chat Bot Integration</li>
        <li>Social Media Integration</li>
      </ul>
      <hr>
      <div class="text-center">
        <a href="https://wa.me/919052337279?text=Hi,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20Single%20Page%20Website."
          class="btn btn-sm btn-primary text-center"><i class="fa fa-whatsapp" aria-hidden="true"></i> Enquire Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 shadow card ml-3 my-2 p-0">
    <div class="card-header text-center border-none bg-gradient">
      <img src="../../assets/pricing/standard-website.png" width="100">
      <h5>STANDARD WEBSITE</h5>
    </div>
    <div class="card-body">
      <h3 class="card-title text-center">INR 9999/-</h3>
      <ul class="card-text">
        <li>Dynamic Website</li>
        <li>Upto 6 Pages</li>
        <li>Image Slider</li>
        <li>Contact Form</li>
        <li>Enquiry Form</li>
        <li>User friendly CMS</li>
        <li>Mobile Responsive</li>
        <li>Google Maps Integration</li>
        <li>Chat Bot Integration</li>
        <li>Social Media Integration</li>
      </ul>
      <hr>
      <div class="text-center">
        <a href="https://wa.me/919052337279?text=Hi,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20Standard%20Website."
          class="btn btn-sm btn-primary text-center"><i class="fa fa-whatsapp" aria-hidden="true"></i> Enquire Now</a>
      </div>
    </div>
  </div>
</div>
